
.turnir{
    .turnir-setka-left{
        //   Tournament-Grid======================== 
      .Tournament-Grid{
          background-color: #27272f;
          padding: 30px 28px;
          border-radius: 7px;
          margin-top: 30px;
          height: 590px;
          position: relative;
          z-index: 9;
          .Tournament-Grid-img{
              position: absolute;
              top: 0;
              z-index: -1;
              img{
                height: 590px;
                z-index: -1;
                opacity: 0.4;
              }
          }
          .Tournament-Grid-active{
              border: 1px solid #dd6d1da9;
              .text{
                  .one{
                    background-color: #dd6c1d !important;
                  }
              }
          }
          .head{
              h3{
               font-size: 24px;
               color: white;
               font-family:'aven-reg' ;

              }
              h4{
                font-size: 14px;
                color: #38ff03;
                font-family:'aven-reg' ;
              }
          }
          .Tournament-Grid-left{
              display: flex;
                flex-direction: column;
              justify-content: space-around;
            .part-two{
                padding: 5px 2px;
                display: flex;
                ul{
                 
                 
                    justify-content: space-around;
                    li{
                            margin-bottom: 5px;
                        border-radius: 6px;
                        padding: 7px 8px;
                        display: flex;
                        justify-content: space-between;
                        background-color: #212128;
                        transition: 0.4s;
                        &:hover{
                          
                            .text{
                                h4{
                                    color: white;
                                }
                            }
                          
                        }
                        .img{
                            display: flex;
                            align-items: center;

                            img{
                                padding: 7px;
                                width: 35px;
                                height: 35px;
                                border-radius: 3px;
                                background-color: #2a3441;
                            }
                            h4{
                                margin-left: 10px;
                                font-size: 14px;
                                color: white;
                                font-family:'aven-reg' ;
                                text-align: center;
                                margin-bottom: 0;
                                text-transform: uppercase;
                            }
                        }
                        .text{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .one{
                                width: 40px;
                                background-color: #27272f;
                                border-radius: 5px;
                             font-size: 22px;
                             font-family:'aven-bold' ;
                             color: white;
                             padding: 7px 1px;
                             
                            }
                            h4{
                                font-size: 14px;
                                color: #9da3ac;
                                font-family:'aven-mid' ;
                                text-align: center;
                                margin-bottom: 0;
                                padding: 0px 20px;
                               
                                :last-of-type{
                                    border: none;
                                }
                            }
                        }
                     
                   
                    }
                }


                .row-line{
                    display: flex;
                
                    align-items: center;
                    justify-content: space-around;
                    .one{
                        width: 60px;
                        height: 120px;
                        border: 1px solid #dd6c1d;
                        border-left: 1px solid transparent;
                    }
                    .two{
                        border-right: 1px solid transparent;
                        width: 30px;
                        height: 60px;
                        border: 1px solid #dd6c1d;
                        border-right: 1px solid transparent;
                        border-left: 1px solid transparent;
                    }
                    
                }







            }
            
          }
          .Tournament-Grid-right{
              display: flex;
                flex-direction: column;
                align-items: flex-start;
              justify-content: space-around;
              height: 100%;
            .part-two{
                padding: 5px 2px;
                display: flex;
                ul{
                 
                 
                    justify-content: space-around;
                    li{
                            margin-bottom: 5px;
                        border-radius: 6px;
                        padding: 7px 8px;
                        display: flex;
                        justify-content: space-between;
                        background-color: #212128;
                        transition: 0.4s;
                        &:hover{
                          
                            .text{
                                h4{
                                    color: white;
                                }
                            }
                          
                        }
                        .img{
                            display: flex;
                            align-items: center;

                            img{
                                padding: 7px;
                                width: 35px;
                                height: 35px;
                                border-radius: 3px;
                                background-color: #2a3441;
                            }
                            h4{
                                margin-left: 10px;
                                font-size: 14px;
                                color: white;
                                font-family:'aven-reg' ;
                                text-align: center;
                                margin-bottom: 0;
                                text-transform: uppercase;
                            }
                        }
                        .text{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .one{
                                width: 40px;
                             
                                background-color: #27272f;
                                border-radius: 5px;
                             font-size: 22px;
                             font-family:'aven-bold' ;
                             color: white;
                             padding: 7px 1px;
                             
                            }
                            h4{
                                font-size: 14px;
                                color: #9da3ac;
                                font-family:'aven-mid' ;
                                text-align: center;
                                margin-bottom: 0;
                                padding: 0px 20px;
                               
                                :last-of-type{
                                    border: none;
                                }
                            }
                        }
                     
                   
                    }
                }


                .row-line{
                    display: flex;
                
                    align-items: center;
                    justify-content: space-around;
                    .one{
                        width: 60px;
                        height: 120px;
                        border: 1px solid #dd6c1d;
                        border-left: 1px solid transparent;
                    }
                    .two{
                        border-right: 1px solid transparent;
                        width: 30px;
                        height: 60px;
                        border: 1px solid #dd6c1d;
                        border-right: 1px solid transparent;
                        border-left: 1px solid transparent;
                    }
                    
                }







            }
            
          }
          .Tournament-Grid-middle{
              display: flex;
                
                align-items: center;
              justify-content: space-around;
              height: 100%;

              .box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
              justify-content: space-around;
              height: 100%;
                .part-two{
                    padding: 5px 2px;
                    display: flex;
                    ul{
                     
                     
                        justify-content: space-around;
                        li{
                                margin-bottom: 5px;
                            border-radius: 6px;
                            padding: 7px 8px;
                            display: flex;
                            justify-content: space-between;
                            background-color: #212128;
                            transition: 0.4s;
                            &:hover{
                              
                                .text{
                                    h4{
                                        color: white;
                                    }
                                }
                              
                            }
                            .img{
                                display: flex;
                                align-items: center;
    
                                img{
                                    padding: 7px;
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 3px;
                                    background-color: #2a3441;
                                }
                                h4{
                                    margin-left: 10px;
                                    font-size: 14px;
                                    color: white;
                                    font-family:'aven-reg' ;
                                    text-align: center;
                                    margin-bottom: 0;
                                    text-transform: uppercase;
                                }
                            }
                            .text{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .one{
                                    width: 40px;
                                 
                                    background-color: #27272f;
                                    border-radius: 5px;
                                 font-size: 22px;
                                 font-family:'aven-bold' ;
                                 color: white;
                                 padding: 7px 1px;
                                 
                                }
                                h4{
                                    font-size: 14px;
                                    color: #9da3ac;
                                    font-family:'aven-mid' ;
                                    text-align: center;
                                    margin-bottom: 0;
                                    padding: 0px 20px;
                                   
                                    :last-of-type{
                                        border: none;
                                    }
                                }
                            }
                         
                       
                        }
                    }
    
    
                    .row-line{
                        display: flex;
                    
                        align-items: center;
                        justify-content: space-around;
                        .one{
                            width: 60px;
                            height: 120px;
                            border: 1px solid #dd6c1d;
                            border-left: 1px solid transparent;
                        }
                        .two{
                            border-right: 1px solid transparent;
                            width: 30px;
                            height: 60px;
                            border: 1px solid #dd6c1d;
                            border-right: 1px solid transparent;
                            border-left: 1px solid transparent;
                        }
                        
                    }
    
    
    
    
    
    
    
                }
              }

              .row-line{
                display: flex;
            
                align-items: center;
             
                .one{
                    width: 60px;
                    height: 264px;
                    border: 1px solid #dd6c1d;
                    border-left: 1px solid transparent;
                }
                .two{
                    border-right: 1px solid transparent;
                    width: 30px;
                    height: 60px;
                    border: 1px solid #dd6c1d;
                    border-right: 1px solid transparent;
                    border-left: 1px solid transparent;
                }
                
            }



            
          }

      }

      .Tournament-Record{
          position: relative;
          margin-top: 30px;
          background-color: #dd6d1dce;
          border-radius: 7px;
          padding-bottom: 30px;
          .Tournament-Record-bg{
              position: absolute;
              top: 0;
              z-index: -1;
              height: 100%;
              img{
                  width: 100%;
                  z-index: -1;
                  height: 300px;
              }
          }
          .head{
              h2{
                  font-size: 45px;
                  color: white;
                  font-family:'aven-demi' ;
                  margin-left: 30px;
                  margin-top: 30px;

              }
          }
          .box{
              padding: 20px 30px;
              h4{
                  font-size: 17px;
                  color: white;
                  font-family:'aven-reg' ;

              }
              .number{
                  ul{
                      display: flex;
                      li{
                          width: 68px;
                          height: 78px;
                          border-radius: 7px;
                          background-color: #212128;
                          margin-right: 15px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          p{
                              font-size: 40px;
                              color: white;
                              font-family:'aven-bold' ;
                              margin-bottom: 0;
                          }
                      }
                  }
              }
              h4{

              }
          }
          .img{
              position: absolute;
              top: -120px;
              z-index: 9999;
              img{
                  width: 154px;
              }
          }
      }








    }
//    turnir-setka-right final-battle===================
    .turnir-setka-right{
          .final-battle{
              background-color: #27272f;
              padding-bottom: 30px;
              padding-top: 30px;
              margin-top: 30px;
              border-radius: 7px;
              h2{
                  font-size: 24px;
                  margin-left: 20px;
                  color: white;
                  font-family:'aven-bold' ;

              }
              h5{
                font-family:'aven-reg' ;
                  font-size: 14px;
                  margin-left: 20px;
                  color: chartreuse;
              }
            .middle{

                .box{
                    margin-top: 35px;
                    .two{
                       display: flex;
                       justify-content: center;
                 
                       flex-direction: column;
                       align-items: center;
                        h3{
                           font-size: 18px;
                           color: white;
                           font-family:'aven-bold' ;
                           margin-bottom: 0;
                           margin-top: 45px;
                       }
                       h4{
                           font-size: 12px;
                           color: rgb(131, 131, 131);
                           font-family:'aven-reg' ;
                           text-transform: uppercase;
                           width: 60px;
                           margin-left: 20px !important;
                       }
                        
                       .dot{
                           height: 150px;
                           width: 150px;
                           border-radius: 100%;
                           background-color: #c45a030e;
                           border: 1px solid  rgba(255, 90, 13, 0.904) !important;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           box-shadow: rgba(235, 77, 15, 0.25) 0px 30px 60px -12px inset, rgba(245, 40, 40, 0.3) 0px 18px 36px -18px inset;
                           .dot-one{
                               height: 130px;
                               width: 130px;
                               border-radius: 100%;
                               background-color: #ff3c0d;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               box-shadow: rgb(243, 99, 2) 0px 5px 15px;
                                .dot-two{
                                   height: 120px;
                                   width: 120px;
                                   border-radius: 100%;
                                   background-color: #f4f74f;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                    .dot-three{
                                       height: 110px;
                                       width: 110px;
                                       border-radius: 100%;
                                       background-color: #f36d1d;
                                       display: flex;
                                       justify-content: center;
                                       align-items: center;
                                        img{
                                            width: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .one{
                       display: flex;
                       justify-content: center;
                       margin-top: 15px;
                       flex-direction: column;
                       align-items: center;
                       h3{
                           font-size: 18px;
                           color: white;
                           font-family:'aven-reg' ;
                           margin-bottom: 0;
                           margin-top: 25px;
                       }
                       h4{
                           font-size: 14px;
                           color: rgb(131, 131, 131);
                           font-family:'aven-reg' ;
                           text-transform: uppercase;
                       }
                        
                        .dot-one{
                           height: 100px;
                           width: 100px;
                           border-radius: 100%;
                           background-color: #ff3c0d;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           box-shadow: rgb(243, 99, 2) 0px 5px 15px;
                            .dot-two{
                               height: 90px;
                               width: 90px;
                               border-radius: 100%;
                               background-color: #f68639;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                                .dot-three{
                                   height: 80px;
                                   width: 80px;
                                   border-radius: 100%;
                                   background-color: #f36d1d;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                    img{
                                        width: 30px;
                                    }
                                }
                            }
                        }
        
                      
                    }
                    .three{
                       display: flex;
                       justify-content: center;
                       margin-top: 15px;
                       flex-direction: column;
                       align-items: center;
        
                       h3{
                           font-size: 18px;
                           color: white;
                           font-family:'aven-reg' ;
                           margin-bottom: 0;
                           margin-top: 25px;
                       }
                       h4{
                           font-size: 14px;
                           color: rgb(131, 131, 131);
                           font-family:'aven-reg' ;
                           text-transform: uppercase;
                       }
                        
                        
                        .dot-one{
                           height: 100px;
                           width: 100px;
                           border-radius: 100%;
                           background-color: #ff3c0d;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           box-shadow: rgb(243, 99, 2) 0px 5px 15px;
                            .dot-two{
                               height: 90px;
                               width: 90px;
                               border-radius: 100%;
                               background-color: #f68639;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                                .dot-three{
                                   height: 80px;
                                   width: 80px;
                                   border-radius: 100%;
                                   background-color: #f36d1d;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                    img{
                                        width: 30px;
                                    }
                                }
                            }
                        }
        
                      
                    }
                    
                }
        
        
        
               .timeline{
                   justify-content: center;
                   align-items: center;
               
                   .part-one{
                       background-color: #27272f;
                       border-radius: 8px;
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                       justify-content: center;
                       width: 95%;
                       margin: auto;
                       .row-line{
                           width: 90%;
                           height: 7px;
                           border-radius: 15px;
                           background-color: #000000;
                           margin-top: 20px;
                           margin-bottom: 8px;
                           .row-one{
                               width: 80%;
                           height: 7px;
                           border-radius: 15px;
                           background-color: #dd6c1d;
                           position: relative;
                               .dot{
                                   position: absolute;
                                   right: 0;
                                   bottom: -5px;
                                   height: 15px;
                                   width:15px;
                                   border-radius: 100px;
                                   background-color: #dd6c1d;
        
                               }
                           }
                       }
                       h3{
                         font-size: 17px;
                         color: white;
                         font-family:'aven-demi' ;
                       }
                       h4{
                           font-size: 12px;
                           color: rgb(175, 175, 175);
                           font-family:'aven-reg' ;
                           span{
                               color: white;
                           }
                       }
                   }
                   .part-two{
                       margin-top: 10px;
                       .over{
                           width: 90% !important;
                           margin: auto;
                           padding: 13px 132px;
                           border-radius: 6px;
                           color: white;
                           background-color: #dd6c1d;
                           text-align: center;
                           font-size: 16px;
                           margin-top: 10px;
                           margin-left: 20px;
                       }
                   }
               
        
               }
        
        
        
        
        
        
        
        
        
        
                
            }
          }
    }



//    turnir-setka-right group-section-one===================

    .group-section-one{
        background-color: #27272f;
         padding-top: 20px;
        border-radius: 7px;
        margin-top: 30px;
        

         





       .heading{
           h3{
        color: #38ff03;
        font-size: 13px;
        font-family:'aven-reg' ;
        text-align: center;
        margin-top: 20px;
           }
           .banner-slider-team{
               margin-top: 20px;
               .banner-item{
                   h2{
                      font-size: 24px;
                      color: white;
                      font-family:'aven-bold' ;
                      text-align: center;
                   }
               }
           }
       }


       .scroll{
         .part-two{
             padding: 5px 22px;
             ul{
                 margin-top: 15px;
              
                 justify-content: space-around;
                 li{
                         margin-bottom: 15px;
                     border-radius: 9px;
                     padding: 7px 8px;
                     display: flex;
                     justify-content: space-between;
                     background-color: #212128;
                     transition: 0.4s;
                     &:hover{
                         background-color: #dd6c1d;
                         .text{
                             h4{
                                 color: white;
                             }
                         }
                       
                     }
                     .img{
                         display: flex;
                         align-items: center;
                         img{
                             width: 40px;
                             height: 40px;
                             border-radius: 9px;
                         }
                         h4{
                             margin-left: 10px;
                             font-size: 16px;
                             color: white;
                             font-family:'aven-reg' ;
                             text-align: center;
                             margin-bottom: 0;
                             text-transform: uppercase;
                         }
                     }
                     .text{
                         display: flex;
                         justify-content: space-between;
                         align-items: center;
                         .one{
                             border-radius: 7px;
                          font-size: 22px;
                          font-family:'aven-bold' ;
                          color: white;
                          padding: 12px 15px;
                          background-color: rgba(255, 255, 255, 0.164);
                         }
                         h4{
                             font-size: 14px;
                             color: #9da3ac;
                             font-family:'aven-mid' ;
                             text-align: center;
                             margin-bottom: 0;
                             padding: 0px 20px;
                            
                             :last-of-type{
                                 border: none;
                             }
                         }
                     }
                  
                
                 }
             }
         }
      }
   }










}









.group-section-one .banner-slider-team .previous-arrow {
    position: absolute;
    bottom: 4px;
    left: 71px;
    z-index: 1111111;
    color: #000000;
    font-size: 11px;
    padding: 9px 11px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    background-color: #ffffff34 !important;
}
.group-section-one .banner-slider-team .next-arrow {
    position: absolute;
    bottom: 4px;
    right: 71px;
    z-index: 1111111;
    color: #000000;
    font-size: 11px;
    padding: 9px 11px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    background-color: #ffffff38 !important;
}
